body {
 scroll-behavior: smooth;
}


.tabuleiro {
    background-color: rgb(253, 253, 253);
    width: 900px;
    height: 900px;
    position: absolute;
    outline: 5px solid black;
}

.linha {
    z-index: 999;
    flex-direction: row;
    display: flex;

}

.preto {
    background-color: black;
    height: 112.5px;
    width: 112.5px;
}

.branco {
    background-color: white;
    height: 112.5px;
    width: 112.5px;
}

img {
    position: absolute;
    z-index: 999;
    left: 112.5px;
    animation: mov-div 15s infinite; 
}

@keyframes mov-div {
    0% {
        top: 0px;  
        left: 112.5px;
    }

    3% {
        top: 112.5px;
        left: 112.5px;
    }

    6% {
        top: 225px;
        left: 112.5px;
    }

    9%{
        top: 225px;
        left: 225px;
    }

    12% {
        top: 337.5px;
        left: 225px;
    }

    15% {
        top: 450px;
        left: 225px;
    }

    18% {
        top: 450px;
        left: 337.5px;
    }

    21% {
        top: 562.5px;
        left: 337.5px;
    }

    24% {
        top: 675px;
        left: 337.5px;
    }

    27% {
        top: 675px;
        left: 450px;
    }

    30% {
        top: 675px;
        left: 562.5px;
    }

    33% {
        top: 675px;
        left: 675px;
    }

    36% {
        top: 787.5px;
        left: 675px;
    }
 /* casa final a partir 
 ta errado isso aq agr é só fazer a volta e ver o tempo*/

 /*
    30% {
        top: 675px; 
        left: 562.5px;
    }
   
    33% {
        top: 675px;
        left: 675px;
    }

     casa final 
    36% {
        top: 787.5px;
        left: 675px;
    }

    39% {
        top: 675px;
        left: 675px;
    }

    42% {
        top: 675px;
        left: 562.5px;
    }

    45% {
        top: 675px;
        left: 450px;
    }

    48% {
        top: 675px;
        left: 337.5px;
    }

    51% {
        top: 562.5px;
        left: 337.5px;
    }

    54% {
        top: 450px;
        left: 337.5px;
    }

    57% {
        top: 450px;
        left: 225px;
    }

    60% {
        top: 337.5px;
        left: 225px;
    }

    63% {
        top: 225px;
        left: 225px;
    }

    66% {
        top: 225px;
        left: 112.5px;
    }

    69% {
        top: 112.5px;
        left: 112.5px;
    }

    72% {
        top: 0px;  
        left: 112.5px;
    } */
}