* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 scroll-behavior: smooth;
}


.tabuleiro {
    background-color: rgb(253, 253, 253);
    width: 900px;
    height: 900px;
    position: absolute;
    outline: 5px solid black;
}

.linha {
    z-index: 999;
    flex-direction: row;
    display: flex;

}

.preto {
    background-color: black;
    height: 112.5px;
    width: 112.5px;
}

.branco {
    background-color: white;
    height: 112.5px;
    width: 112.5px;
}

img {
    position: absolute;
    z-index: 999;
    left: 112.5px;
    animation: mov-div 10s infinite; 
}

@keyframes mov-div {
    0% {
        top: 0px;  
        left: 112.5px;
    }
    
    /* Movimento de ida do cavalo */

    4% {
        top: 112.5px;
        left: 112.5px;
    }

    8% {
        top: 225px;
        left: 112.5px;
    }

    12%{
        top: 225px;
        left: 225px;
    }

    16% {
        top: 337.5px;
        left: 225px;
    }

    20% {
        top: 450px;
        left: 225px;
    }

    24% {
        top: 450px;
        left: 337.5px;
    }

    28% {
        top: 562.5px;
        left: 337.5px;
    }

    32% {
        top: 675px;
        left: 337.5px;
    }

    36% {
        top: 675px;
        left: 450px;
    }

    40% {
        top: 675px;
        left: 562.5px;
    }

    44% {
        top: 675px;
        left: 675px;
    }

    48% {
        top: 787.5px;
        left: 675px;
    }
    
    /* Movimento de volta do cavalo */
    
    52% {
		top: 675px;
		left: 675px;
    }
    
    56% {
		top: 675px;
		left: 562.5px;
    }
    
    60% {
		top: 675px;
		left: 450px;
    }
    
    64% {
		top: 675px;
		left: 337.5px;
    }
    
    68% {
		top: 562.5px;
        left: 337.5px;
    }
    
    72% {
		top: 450px;
        left: 337.5px;
    }
    
    76% {
		top: 450px;
        left: 225px;
    }
   
    80% {
		top: 337.5px;
        left: 225px;
    }
    
    84% {
		top: 225px;
        left: 225px;
    }
    
    88% {
		top: 225px;
        left: 112.5px;
    }
    
    92% {
		top: 112.5px;
        left: 112.5px;
    }
    
    96% {
        top: 0px;  
        left: 112.5px;
    }
    
}
